<!-- development version, includes helpful console warnings -->
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script
              src="https://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'project/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'project/sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'project/ripple.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'project/favicon.ico' %}"/>
<script type="text/javascript" src="static/project/popper.min.js"></script>
<script type="text/javascript" src="static/project/bootstrap.min.js"></script>
{% block head %}{% endblock %}
</head>
<body>

<div id="vue-div" v-show=false>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'project/logo.png' %}" style="max-width: 200px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
      </li>
      {% endif %}
      <li style="float: right;">
      	<a class="nav-link" > Current user: {{ user.get_username }} </a>
      </li>
    </ul>
  </div>
</nav>



    {% block content %}{% endblock %}

</div>

</body>
</html>

