{% extends 'base.html' %}
    {% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//js.pusher.com/4.0/pusher.min.js"></script>
    <script type="text/javascript" src="../../static/project/chatscript.js"></script>
    <link rel="stylesheet" href="../../static/project/chat.css"/>
    {% endblock %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-comment"></span> Chat
                        </div>
                        <div class="panel-body">
                    <!-- ul element holding chat messages -->
                            <ul class="chat" id="chat">
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                <!-- text imput fot the messages to be typed into -->
                                <input id="btn-input" class="form-control input-sm" placeholder="Type your message here..." type="text">
                                <span class="input-group-btn">
                <!--- send button for the chat box -->
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}