<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script
              src="https://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'project/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}">
<script type="text/javascript" src="{% static 'project/main.js' %}"></script>

<div id="vue-div" v-show=false>
    <br><br><br><br>
    <center>
        <h1 class="center">Website Test</h1>
        <h3 class="center">nothing here yet...</h3>
    </center>
    <br><br>
</div>
