{% extends 'base.html' %}

{% block title %}Groupr{% endblock %}
{% block head %}<script type="text/javascript" src="static/project/main.js"></script> {% endblock %}
{% block content %}

<div class="container">
	<div class="row">
        {% if user.is_authenticated %}
		<div class=" col-md-2 sidenav" v-show="logged_in">
            <div style="padding-left: 30px;">
                <span><h3>My Events</h3></span>
                <form action='/addevent/' method="post">
                    {% csrf_token %}
                    Add Code: <input type="text" name="code">
                </form>
    			<span v-for="(e, i) in events" :key='i'>
    				<a href='#' v-bind:class="{active: (!curr_type && i == curr_event)}" v-on:click="changeEvent(i, false)">${e.name}</a>
    			</span>
                <span><h3>Created Events</h3></span>
                <span v-for="(e, i) in my_events" :key='i'>
                    <a href='#' v-bind:class="{active: (curr_type && i == curr_event)}" v-on:click="changeEvent(i, true)">${e.name}</a>
                </span>
                <p>----------</p>
                <span><h3><a href="#">Join Event</a></h3></span>
                <span><h3><a href="/event/">Create Event</a></h3></span>
                <span><h3><a href="#">Edit Profile</a></h3></span>
                <span><h3><a href="/logout/">Sign Out</a></h3></span>
            </div>
		</div>
		<br><br>
		<div class="col-md-10">
                <br><br><br><br>
		    <center>
                <span v-if="curr_event != -1 && !curr_type">
                    <h1> ${events[curr_event].name} </h1>
                </span>
                <span v-else-if="curr_event != -1 && curr_type">
                    <h1> ${my_events[curr_event].name} </h1>
                    <br>
                    <h2>Add Code:  ${my_events[curr_event].addCode}</h2>
                </span>
                <span v-else>
                    <h1> You Don't Have Any Events </h1>
                </span>
                
                <br>
                <div v-if="!curr_type && curr_event != -1">
                    <h3>other user: ${suggested_usr_name} </h3>
                    <br>
                    <div v-if="suggested_usr_id != -1">
        		    	<button type="button" class="btn btn-primary btn-lg" v-on:click="accept">accept</button>
        		    	<button type="button" class="btn btn-primary btn-lg" v-on:click="decline">decline</button>
                    </div>
                </div>
		    </center>
		</div>
        {% else %}
       
        <div class="col-md-6">
            <br><br><br><br><br>
            <center>
                <h1 class="center">Groupr is a web app designed to help you find your team.</h1>
                <br>
                <h3>Choose who you'd like to work with, and our algorithms will do the rest. This project was originally created by a group of five for the UCSC CruzHacks hackathon.</h3>
            </center>
        </div>
        <div class="col-md-6">
            <br><br><br><br><br>
                <center>
                <h2>Sign up</h2>
                  <form action='/signup/' method="post">
                        {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-md-6" style="padding-right: 30px;">
                                <label for="id_username">Username: </label>
                                <br>
                                <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">

                                <br><br>

                                <label for="your_name">Display Name: </label>
                                <br>
                                <input id="your_name" type="text" name="your_name">
                            </div>

                            <div class="col-md-6">
                                <label for="id_password1">Password:</label>
                                <br>
                                <input type="password" name="password1" required="" id="id_password1">

                                <br><br>

                                <label for="id_password2">Password confirmation:</label>
                                <br>
                                <input type="password" name="password2" required="" id="id_password2">
                                
                            </div>
                            <br>
                        </div>
                        <input type="submit" value="Sign Up" class="btn btn-primary btn-lg">
                  </form>
            </center>
        </div>
        <div class="col-md-6 offset-md-3">
            <br><br><br><br><br><br>
            <center>
                <a type="button" class="btn btn-primary btn-lg" href="{% url 'login' %}" >Login</a>
            </center>
            
        </div>
        {% endif %}
	</div>
</div>
{% endblock %}