<!-- development version, includes helpful console warnings -->
<!DOCTYPE html>
<html>
<head>
    <title>Groupr</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script
              src="https://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'project/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'project/sidebar.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'project/favicon.ico' %}"/>
<script type="text/javascript" src="{% static 'project/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'project/bootstrap.min.js' %}"></script>
</head>
<body>

<div id="vue-div" v-show=false>

    <div class="container">
        <div class="row">
            <div class="jumbotron" style="width: 100%;">
                
                <center>
                    <img src="{% static 'project/logo-big.png' %}" class="img-fluid" style="max-width: 1000px;">
                </center>
                <br><br>
                <div class="col-md-8 offset-md-2">
                    <h1 class="center">Groupr will help you find your team.</h1>

                <h4 class="center">Choose whom you'd like to work with, and let our algorithms do the rest.</h4>
                </div>
                

        </div>
        </div>

        <div class="col-md-6 offset-md-3">
            <br><br>
                <center>
                <h2>Sign up</h2>
                  <form action='/signup/' method="post">
                        {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-md-6" style="padding-right: 30px;">
                                <label for="id_username">Username: </label>
                                <br>
                                <input type="text" name="username" maxlength="150"  required="" id="id_username">

                                <br><br>

                                <label for="your_name">Display Name: </label>
                                <br>
                                <input id="your_name" type="text" name="your_name">
                            </div>

                            <div class="col-md-6">
                                <label for="id_password1">Password:</label>
                                <br>
                                <input type="password" name="password1" required="" id="id_password1">

                                <br><br>

                                <label for="id_password2">Password confirmation:</label>
                                <br>
                                <input type="password" name="password2" required="" id="id_password2">
                                
                            </div>
                            <br>
                        </div>
                        <br>
                        <input type="submit" value="Sign Up" class="btn btn-primary btn-lg">
                  </form>
            </center>
        </div>
        <div class="col-md-6 offset-md-3">
            <br><br><br>
            <center>

                <div class="btn-group dropdown loginbutton">
                  <button type="button" id="yeep" class="btn btn-secondary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Log In
                </button>
                <div class="dropdown-menu">
                    <form action='/login/' method="post">
                        {% csrf_token %}
                        <input type="text" id="signInField" class="form-control" placeholder="Username" name="username">
                        <input type="password" class="form-control" placeholder="Password" name="password">
                        <input type="submit" style="display: none;">
                    </form>
                </div>
            </div>
            </center>
            
        </div>
        <div class="row about">
            <div class="col-md-6 offset-md-3">
                <center><h1>About Groupr</h1></center>
                <br>
            <p>After signing up, you can create a basic profile and create an Event. An "Event" is any large group of people that you would like to form subgroups of. For example, a classroom or a Hackathon Event. The owner of the Event will be given an invite code. Once users have joined the event, they will be able to see other users, and start choosing if they want to work with them. Groups will be formed and can be discarded if the group decides to do so.</p>
            <br>
            <br>
            <center><h4>For questions or inquiries, please email usegroupr@gmail.com</h4></center>
            </div>
            
        </div>


</div>
</div>

                <script type="text/javascript">
                    console.log("asfsa")
                    $("#yeep" ).click(function() {
                        console.log("AFASDSAGADJFSA")
                      $('#signInField').focus().select()
                    });
                </script>


</body>
</html>

