.li{
	
}
.center{
	text-align: center;
}

.active{
	color: white;
}

.sidenav .active{
  color: #ccc;
  font-weight: bold;
}

.sidenav {
  height: 100vh;
  max-height: 100%;
  padding-left: 0px;
  left: 0;
  background-color: #333;
  position: relative;
  float: left;
}
.container{
  max-width: 2000px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #343a40;
  padding-top: 10px;
}