.li{
	
}
.center{
	text-align: center;
}

.active{
	color: white;
}

.sidenav .active{
  color: #ccc;
  font-weight: bold;
}

.sidenav {
  height: 100vh;
  max-height: 100%;
  padding-left: 0px;
  left: 0;
  background-color: #333;
  position: relative;
  float: left;
}
.container{
  max-width: 2000px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  word-wrap: break-word;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #343a40;
  padding-top: 10px;
}

.loginbutton{
  position: fixed;
  top: 0;
  right: 0;
}
.btn{
  margin: 5px;
}
.acceptdecline{
  margin: 40px;
}

h1 small{
  font-size: 24px;
  padding-left: 20px;
}
.bio{
  font-size: 16px;
}



.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}